*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
}
p{
    color: rgb(58, 61, 60);
}
/* header */
header{
    width: 100%;
    height: 7rem;
}
/* nav bar */
nav ul{
    list-style-type: none;
    align-items: center;
}
button{
    padding: 0.5rem 1rem;
    background: local;
    border: 0;
}
a{
    padding: 0.5rem 1rem;
    background: local;
    border: 0;
    text-decoration: none;
    color: black;
}
.nd1{
    background-color: red;
    border-radius: 0 0 0 2rem;
}
.nd1 button{
    padding: 0.2rem 1rem;
}
.nd1 i{
    margin: 0.5rem;
}
nav li{
    display: inline-flex;
    font-size: 1rem;
}
/* nav bar div1 */
.navdiv1{
    background-color: aqua;
}
.navdiv1 button{
    border-right: 1px solid rgba(128, 128, 128, 0.2);
}
.nd1{
    float: right;
}
/* nav bar div2 */
.navdiv2{
    margin: 1rem 0;
}
.consult{
    font-size: 2rem ;
    color: rgb(240, 89, 65,0.9);;
    padding: 0 0.5rem;
}
.consult li{
    font-size: 2rem;
}
.nd2{
    float: right;    
    padding-top: 0.5rem;
}
.nd2 button{
    font-size: 1.2rem;
    font-weight:500;
}
/* Dropdown */
.Mobail_menu{
    display: none;
}
.dropdown{
    display: inline;
    position: relative;
    float: right;
    margin: -2.5rem 1rem 0 0;
}
.dropbtn{
    font-size: 1.5rem;
    margin-right: 3rem;
    color:  rgb(240, 89, 65,0.9) ;
}
.dropdown_content{
    display: none;
    position: absolute;
    margin: 25px 0px 0 -25px;
    width: auto;
    background-color:white;
}
.dropdown_content a{
    display: flex;
    text-decoration: none;
    width: 100%;
}
.dropdown:hover .dropdown_content{
    display: inline;
}
/* main */
main{
    width: 100%;
}
/* Section 1 */
.section1{
    background-image: url(img/carousel-2.jpg);
    background-size: 100% 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.text{
    background-color: rgba(0, 1, 19, 0.644);
    height: 50rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}
.section1 h4{
    align-items: center;
    color: white;
}
.section1 h1{
    font-size: 3rem;
    color: white;
}
.section1 button{
    margin: 1rem 0.5rem;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
}
.section1 .btn1{
    background-color: rgb(240, 89, 65,0.9);;
    color: white;
}
.section1 .btn2{
    background-color: white;
}
/* Section2 */
.section2{
    width: 100%;
    height: 27rem;
    display: flex;
}
.sect2_box1{
    width: 50%;
    padding: 2rem;
    overflow: scroll;
}
.sect2_box1 h2{
    font-size: 2rem;
}
.sect2_box1 span{
    color: rgb(240, 89, 65,0.9);
}
.sect_box1_p1{
    color:rgb(240, 89, 65,0.9);
    padding: 1rem 0;
}
.sect2_box1 button{
    background-color: rgb(240, 89, 65,0.9);
    border-radius: 10px;
    color: white;
    margin-top: 1rem;
    width: 40%;
}
.sect2_box2{
    width: 50%;
    background-color: rgb(240, 89, 65,0.9);
    padding: 1rem ;
    overflow: scroll;
}
.sect2_box2 div{
    padding: 1rem 0 0 1rem;
}
.sect2_box2_contain{
    display: flex;
}
.sect2_box2_i i{
    color: rgb(240, 89, 65,0.9);
    background-color: white;
    padding: 0.6rem;
    border-radius: 50%;
}
.sect2_box2_text{
    display: grid;
}
.sect2_box2_text p{
    color: white;
    font-size: small;
    font-weight: lighter;
}
/* Section 3 */
.section3{
    height: 55rem;
    width: 100%;
    display: grid;
    margin-top: 2rem;
}
.section3 h2{
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
}
.sect3_box{
    display: grid;
    gap: 1rem;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}
.sect3_box_contain{
    overflow: scroll;
    justify-content:space-evenly;
    padding: 2rem 1rem;
    text-align: center;
    background-color:aquamarine;
    height: 25rem;
}
.sect3_box_contain i{
    background-color:rgb(240, 89, 65,0.9) ;
    color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 50%;
}
.sect3_box_contain p{
    text-align:left;
    padding: 1rem ;
}
/* Section 4 */
.section4{
    width: 100%;
    height: 45rem;
    margin: 3rem 0 0 0;
}
.section4 .h2{
    font-size: 2rem;
    text-align: center;
    margin:3rem 0rem 0rem 0rem;
}
.section4_box{
    display:grid;
    gap: 1rem 1rem;
    width: 100%;
    grid-template-columns: auto auto auto;
    margin: auto;
}
.section4_box_contain{
    padding: 1rem;
    height: 40rem;
    overflow: scroll;
}
.section4_box_contain div{
    margin-top: 1.5rem;
}
.section4_box_contain .textdiv{
    overflow: scroll;
    margin-top: -1rem;
    padding: 1.5rem 0.5rem;
    background-color: rgb(240, 89, 65,0.9);
    text-align: center;
    color: white;
}
.section4_box_contain h2{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
}
.section4_box_contain i{
    background-color: rgb(240, 89, 65,0.9);
    color: white;
    padding: 1rem;
    border-radius: 50%;
}
.section4_box_contain button{
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    background-color:white;
    margin: 0.5rem;
}
.section4_img{
    height: 20rem;
    width: 100%;
}
/* Section 5 */
.section5{
    width: 100%;
    height: 30rem;
    display: flex;  
    margin: 2rem 0 0 0; 
}
.sect5_box1{
    width: 50%;
    padding: 2rem;
    overflow: scroll;
    background-color: rgb(127, 255, 212,0.2);
}
.sect5_box2{
    width: 50%;
}
.sect5_box2 img{
    height: 100%;
    width: 100%;
}
.sect5_box1 h2{
    margin: 2rem 1rem 1rem 0rem;
    font-size: 2rem;
}
.sect5_box1 p{
    color: rgb(197, 146, 155);
}
.sect5_box1 input{
    border: 1px solid pink;
    margin: 2rem 0 -0.5rem 0;
    padding: 1rem;
    width: 45%;
}
.sect5_box1 button{
    background-color:  rgb(240, 89, 65,0.9);
    margin: 0.3rem;
    padding: 1rem;
    width: 45%;
    color: white;
}
/* Section 6 */
.section6{
    width: 100%;
}
.section6 h2{
    text-align: center;
    margin:1.5rem;
    font-size: 2rem;
}
.section6 div{
    display: grid;
    grid-template-columns: auto auto auto;
}
.section6 img{
    height: 85%;
    width: 100%;
}
/* Section 7 */
.section7{
    width: 100%;
    height: 30rem;
    display: flex;  
    margin-top: 2rem; 
}
.sect7_box1{
    width: 50%;
}
.sect7_box2{
    width: 50%;
    padding: 2rem;
    overflow: scroll;
}
.sect7_box1 img{
    height: 100%;
    width: 100%;
}
.sect7_box2 h2{
    font-size: 2rem;
}
.sect7_box2 .p1{
    padding: 1.5rem 0;
}
.p1 i{
    background:local !important;
    color:  rgb(240, 89, 65,0.9);
    margin: 0  -0.5rem -0.5rem -1rem ;
    font-size: 1.2rem;
}
.sect7_box2_div1{
    display: flex;
}
.sect7_box2_div1 h3{
    margin:0.5rem 2rem;
    font-size: 1.6rem;
    font-weight: 500;
}
.sect7_box2_div1 p{
    margin:0.5rem 2rem;
    padding:0.5rem 0;
}
.sect7_box2_img1{
    height:6rem;
    width: 6rem;
    border-radius: 50%;
}
.sect7_box2 i{
    background-color:  rgb(240, 89, 65,0.9);
    padding: 1rem;
    border-radius: 50%;
    margin-top: 1rem;
}
/* Section 8 */
.section8{
    width: 100%;
    height: 30rem;
}
.section8 h2{
    text-align: center;
    margin: 3rem;
    font-size: 2rem;
}
.sect8_box8{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
}
.section8 img{
    height: 90%;
    width: 80%;
}
.sect8_contain{
    display: flex;
    width: 80%;
    margin-top: -0.4rem;
}
.sect8_contain div{
    padding:  0 1rem;
    margin: 0;
}
.sect8_contain .date{
    background-color:  rgb(240, 89, 65,0.9);
    padding-top: 1rem;
}
.date p{
    color: pink;
}
.iconText{
    display: flex;
    text-align: center;
    align-items: center;
}
.iconText p{
    font-size: 0.5rem;  
    margin: 0 1rem 0 -0.8rem ; 
}
.iconText i{
    padding: 1rem;
    margin-left: -1rem;
    border-radius: 50%;
}
/* Section 9 */
.section9{
    width: 100%;
    height: 12rem;
    background-color:  rgb(240, 89, 65,0.9);
    margin-top: 5rem ;
    text-align: center;
}
.section9 h2{
    font-size: 2rem;
    padding: 3rem 0 1rem 0;
}
.section9 input{
    width: 20rem;
    margin-bottom:3rem ;
    padding: 0.5rem 2rem;
}
.section9 button{
    background-color:#1F2544;
    margin-left: -0.4rem;
    padding: 0.5rem 1rem;
    color: white;
}
/* Footer */
footer{
    background-color: #1F2544;
    color: white;
}
.footer_div1{
    display: flex;
}
.footer_div1 div{
    margin: 2rem  auto;
}
.footer_div1 h3{
    font-weight: 400;
    font-size: 1.5rem;
}
.footer_div1 ul{
    list-style-type:"\02192 ";
    margin-top: 1rem;
}
.footer_div1 li{
    padding-left: 0.5rem;
    margin-left: 1rem;
    font-weight: 300;
}
.iconAdd li{
    list-style: none;
    margin-left: -1rem;
}
.iconAdd i{
    color: rgb(240, 89, 65,0.9);
    padding: 0.5rem ;
}
.iconSocial i{
    background-color: rgb(240, 89, 65,0.9);
    padding: 1rem;
    border-radius: 50%;
}
hr{
    border: 1px solid rgb(240, 89, 65,0.7);
}
.footer_div2{
    display:flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
.footer_div2 p{
    color: white;
    font-weight: 300;
}
.footer_div2 i{
    padding: 1rem;
    border-radius: 50%;
    background-color: rgb(240, 89, 65,0.9);
    margin: 1rem;
}
::-webkit-scrollbar{
    height: 0;
    width: 0;
}
/* Tablet */
@media screen and (max-width:768px) {
    .iconSocial{
        display: grid;
        grid-template-columns: auto auto;
        grid-row: 2;
        gap: 0.5rem;
        margin-top: -0.5rem;
    }
    .footer_div1{
        display: grid;
        grid-template-columns: auto auto;
    }
    .section2{
        height: 30rem;
    }
    .section8{
        height: auto;
    }
    .sect8_box8{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;        
    }
    .sect8_box8 + div{
        margin: 0.5rem 0;
    }
    .sect8_box8 img{
        height: 70%;
        width: 100%;
    }
    .section9{
        height: auto;
    }
}
/* Mobail */
@media screen and (max-width:425px) {
    main{
        padding: 1rem;
        width: 100%;
    }
    header{
        height: auto;
    }
    .Mobail_menu{
        display: block;
    }
    .navdiv2{
        margin: 0;
        padding: 1rem;
    }
    .nd1{
        background: none;
        display: flex;
    }
    .nd1 button{
        padding: 0.2rem 0;
    }
    .nd1 span{
        display: none;
    }
    .nd2{
        display: none;
    }
    button{
        padding: 0.5rem 0.3rem;
    }
    .section1{
        height: auto;
    }
    .section2{
        height: auto;
        flex-direction: column;
    }
    .sect2_box1{
        width: 100%;
    }
    .sect2_box2{
        width: 100%;
    }
    .section3{
        height: auto;
    }
    .sect3_box{
        grid-template-columns: auto ;
        grid-row: 3;
    }
    .section4{
        height: auto;
    }
    .section4_box{
        display: grid;
        grid-template-columns: auto;
    }
    .section5{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .sect5_box1{
        width: 100%;
    }
    .sect5_box2{
        width: 100%;
    }
    .section6{
        height: auto;
    }
    .section7{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .sect7_box1{
        width: 100%;
    }
    .sect7_box2{
        width: 100%;
    }
    .section8{
        height: auto;
        margin: 2rem 0;
        gap: 1rem;
    }
    .sect8_box8{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        gap: 3rem;
    }
    .section8 img{
        height: 100%;
        width: 100%;
    }
    .section9{
        height: auto;
        padding-bottom: 3rem;
    }
    .footer{
        height: auto;
    }
    
    .footer_div1{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 1rem;
    }
    
    .footer_div1 li{
        text-align: left;
    }
    .footer_div1 div{
        /* padding: 0 1rem; */
        margin: 1rem 2rem;
    text-align: center;
    }
    .popular_link{
        display: none;
    }
    .iconSocial{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid: 2;
        gap: 0.5rem;
    }
}


/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }
.ribbon {
    --r: .8em; /* control the cutout */
    padding-left: calc(var(--r) + -0.75em);
    line-height: 0.8;
    clip-path: polygon(100vw 0,0 0,var(--r) 100%,0 100%,100vw 100%);
    border-image: conic-gradient(rgb(240, 89, 65,0.9) 0 0) fill 0/100vw;
    width: fit-content;
  }

